*.DS_Store
*.aux
*.log
*.swp
staging.*
*.pyc
assignments/assignment1/assignment1/utils/*
*.npy
assignments/assignment1/assignment1/q4_dev_pred.txt
assignments/assignment2/assignment2/data/*
assignments/assignment2/assignment2/q2_test.predicted.pkl
assignments/assignment3/assignment3/data/*
